%html
  %head
    %title sinatra-rack-vlad-template

    %link{ :href => "/css/styles.css", :type => "text/css", :rel => "stylesheet" }
    %script{:type => "text/javascript", :src => "js/jquery-1.6.1.min.js"}


  %body
    #wrapper
      = yield
    
